<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework/ObjectManager/etc/config.xsd">

    <preference for="Letscms\TestApi\Api\HelloInterface" type="Letscms\TestApi\Model\Hello"/>
    <preference for="Letscms\TestApi\Api\ProductListInterface" type="Letscms\TestApi\Model\ProductData"/>
    <preference for="Letscms\TestApi\Api\ProductsInterfaces" type="Letscms\TestApi\Model\Products"/>

</config>
